<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">
        <span class="rainbow">
          SpuffieGroep!
        </span>
      </a>
    </div>

    <div class="collapse navbar-collapse">
      <div class="col"></div>
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="/game">The Spuffie Game</a></li>
        <li routerLinkActive="active"><a routerLink="/about">About Spuffie</a></li>
      </ul>
    </div>
  </div>
</nav>
