<div style="text-align:center">
    <h1>
      <span class="rainbow">
        SpuffieGroep!
      </span>
    </h1>
    <h4>
      <span class="rainbow">
        Dis heeltyd speel tyd!!!
      </span>
    </h4>
    <hr>
    <h2 style="color: blue">
      "Listen", Home Page Coming Soon!
    </h2>
    <br>
    <br>
    <br>
    <h1>
        <span class="rainbow">  ___________________ ____ _________________________.______________
        </span>
    </h1>
    <h1>
        <span class="rainbow"> /   _____/\______   \    |   \_   _____/\_   _____/|   \_   _____/
        </span>
    </h1>
    <h1>
        <span class="rainbow"> \_____  \  |     ___/    |   /|    __)   |    __)  |   ||    __)_
        </span>
    </h1>
    <h1>
        <span class="rainbow"> /        \ |    |   |    |  / |     \    |     \   |   ||        \
        </span>
    </h1>
    <h1>
        <span class="rainbow">/_______  / |____|   |______/  \___  /    \___  /   |___/_______  /
        </span>
    </h1>
</div>
