<div class="container">
    <div class="row">
        <div class="col-xs-12" style="text-align:center">
            <h1>
              <span class="rainbow">
                SpuffieGroep!
              </span>
            </h1>
            <h4>
              <span class="rainbow">
                Dis heeltyd speel tyd!!!
              </span>
            </h4>
            <hr>
            <h2 style="color: blue">
              "Listen", Home Page Coming Soon!
            </h2>
        </div>
    </div>
</div>